*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: tahoma;
}
@font-face{
	font-family: myfont1;
	src:url(../font/clearsans-thin.ttf);
}
.wrap{
    margin:0 auto;
	width: 100%;
}
.logo{
	height: 71.5px;
	
}
.logo img{
    height: 10%;
    width: 10%;
}
.menu{
	float: left;
	height: 80px;
	margin-left: 450px;
	line-height: 60px;
	width: 1350px;
}
.menu ul li{
	display: inline;
	margin-left: 30px;
    padding-bottom: 5px;
}
.menu ul li a{
	color: rgb(40, 123, 179);
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
.menu ul li:hover{
	border-bottom: 2px solid rgb(40, 123, 179);
}
.show_pro{
	Display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 120px;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 50px;
	width: 150px;
}
.show_pro img{
	width: 200px;
}
.each_pro{
	margin-bottom: 15px;;
}
.each_pro button{
	background: gray;
	width: 80px;
	height: 35px;
	color: white;
	margin-top: 5px;
}
.each_pro button:hover{
	background: #2373ba;
}
.title{
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #2373ba;
    margin-top: 100px;
    margin-left: 50px;
}
.title h2{
	color: #2373ba;
	padding-top: 0px;
	font-family: myfont1;
}
/* contact */
#content{
    margin-left: 50px;
}
#lienhe{
    background: #2373ba;
}
.title{
height: 35px;
line-height: 35px;
color:white;
}

.diachi{
height: 350px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 50px;

}
.left{
width: 575px;
margin-top: 20px;
float: left;
font-size: 14px;
}
.dc h4{
color:#f57921;
font-size: 16px;
}
.dc p{
line-height: 45px;
margin-top: 5px;
}
.left hr{
border: 1px dashed #ccc;
}
.dc1{
margin-top: 20px;
}
.dc1 h4{
color:#f57921;
font-size: 16px;
}
.dc1 p{
line-height: 35px;
margin-top: 10px;
}
.right{
float: right;
width: 570px;
font-size: 14px;
}
.dc2{
margin-top: 20px;
}
.dc2 h4{
color:#f57921;
font-size: 16px;
}
.dc2 p{
line-height: 45px;
margin-top: 5px;
}
.right hr{
border: 1px dashed #ccc;
}
.thongtin{
height: 250px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 0px;
}
.tt1{
width: 575px;
background: #2373ba;
color:white;
height: 245px;
float: left;
border-radius: 10px;
}
.o1{
margin:20px 20px;
}
.o1 h3{
line-height: 30px;
padding-top: 7px;
}
.o1 p{
line-height: 33px;
margin-top: 5px;
}
.o1 hr{
border: 0.5px dashed white;
}
.tt2{
width: 575px;
background:#f57921;
color:white;
height: 245px;
float: left;
margin-left: 30px;
border-radius: 10px;
}
.online{
height: 370px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 10px;
}
.online h1{
font-family: myfont1;
font-size: 26px;
color:#555555;
margin-top: -30px;
}
.person{
float: left;	
width: 575px;
margin-top: 20px;
}
.input{
height: 40px;
border: 1px solid #acacac;
margin-top: 10px;
}
.input i{
font-size: 25px;
margin-left: 15px;
margin-top: 3px;
color: #363636;
}
.input input{
border:none;
width: 520px;
height: 40px;
margin-left: 5px;

}
.input input:focus{
outline:0;
}
.info{
float: left;
width: 575px;
margin-left: 30px;
border: 1px solid #acacac;
margin-top: 30px;

}
.icon{
position: absolute;
margin-top: 10px;
margin-left: 10px;
}
.icon i{
font-size: 25px;
}
.info textarea{
border:none;
margin-top: 10px;
margin-left: 45px;
}
.info textarea:focus{
outline:0;
}
.online button{
width: 100px;
height: 35px;
margin-left: 30px;
margin-top: 15px;
background: #2373ba;
color: white;
float: right;
}

/* footer */
#footer{
	height: 450px;
	background-color: #000;
	margin-top: 15px;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}
.lkn{
	margin-left: 50px;
	width: 560px;
	float: left;
}
.lkn h4{
	padding-top: 50px;
	padding-bottom: 10px; 
}
.lkn a{
	text-decoration: none;
	padding-right: 20px;
	color: white;
}
.map{
	width: 560px;
	margin-top: 10px;
	height: 100px;
}
.map iframe{
	width: 560px;
	height: 300px;
}
.add{
	width: 470px;
	padding-top: 50px;
	float: left;
	margin-left: 200px;
}
.add h4{
	padding-bottom: 15px; 
}
.add p{
	padding-bottom: 30px;
}
.online{
	/* margin-top: 30px; */
	height: 370px;
}
.online h1{
	font-family: myfont1;
	font-size: 26px;
	color:#555555;
}
.person{
	float: left;	
	width: 575px;
	margin-top: 20px;
}
.input{
	height: 40px;
	border: 1px solid #acacac;
	margin-top: 10px;
}
.input i{
	font-size: 25px;
	margin-left: 15px;
	margin-top: 3px;
	color: #363636;
}
.input input{
	border:none;
	width: 520px;
	height: 30px;
	margin-left: 5px;
}
.input input:focus{
	outline:0;
}
.info{
	float: left;
	width: 575px;
	margin-left: 30px;
	border: 1px solid #acacac;
	margin-top: 30px;
}
.icon{
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}
.icon i{
	font-size: 25px;
}
.info textarea{
	border:none;
	margin-top: 10px;
	margin-left: 45px;
}
.info textarea:focus{
	outline:0;
}
.online button{
	width: 100px;
	height: 35px;
	margin-left: 30px;
	margin-top: 15px;
	background: #2373ba;
	color: white;
	float: right;
}
#footer{
	height: 470px;
	background-color: #000;
	margin-top: 10px;
	color: white;
}
.lkn{
	width: 560px;
	float: left;
	margin-top: 30px;
}
.lkn h4{
	padding-top: 10px;
	padding-bottom: 10px; 
}
.lkn a{
	text-decoration: none;
	padding-right: 10px;
	color: white;
}
.map{
	width: 560px;
	margin-top: 10px;
	height: 100px;
}
.map iframe{
	width: 560px;
	height: 300px;
}
.add10{
	width: 470px;
	padding-top: 10px;
	float: left;
	margin-left: 70px;
	margin-top: 30px;
	color:white;
}
.add10 h4{
	padding-bottom: 15px; 
}
.add10 p{
	padding-bottom: 30px;
}
